<!-- Unsolve problem with navbar-fixed-top -->
  <div id="nav-bar" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="nb-content-container">
        <div class="navbar-header"><a class="navbar-brand" ui-sref="newsfeed">A2A</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
          <ul class="nav navbar-nav navbar-right">
              <li id="navbar-ask-question"><a href="#" ng-click=vm.openQuestionForm()>
                <i class="fa fa-question" aria-hidden="true"></i>
                Ask a Question
              </a>
              </li>
              <li id="navbar-homepage">
                <a ui-sref="newsfeed">
                  <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                  Homepage
                </a>
              </li>
              <li id="navbar-notification">
                <a href="#" ui-sref="notification">
                  <i class="fa fa-bell-o" aria-hidden="true"></i>
                  Notification
                  <span class="badge">{{vm.user.num_unread_notis}}</span>
                </a>
              </li>
              <li>
                <a href="#" class="dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{vm.username}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a ui-sref="profile">Profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-click="vm.logout()">Log out</a></li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
