<!DOCTYPE html>
<html>
<head>
  <title>Ask to Answer</title>
  <base href="/"/>
</head>

<body>
  <div class="nf-body-container">
    <!-- NavBar -->
    <div ui-view="nav-bar"></div>
    <!--NewsFeed -->
    <div class="nf-content-container">
      <div class="row">
        <div class="col-md-2 nf-left-menu">
          <div class="list-group">
            <a href="#" class="list-group-item disabled">
              News Feed
            </a>
            <a href="#" class="list-group-item">News Feed</a>
            <!-- <a href="#" class="list-group-item">Trending</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a> -->
          </div>
        </div>
        <div class="col-md-10 nf-main"  infinite-scroll="vm.loadMoreQuestions()" infinite-scroll-disabled="vm.noMore">
          <div class="post-container" ng-repeat="question in vm.questions">
            <div class="post-title">
              <div class="post-topics">
                <ul class="nav nav-pills">
                  <li class="presentation"  ng-repeat = "topic in question.topics">
                    <a class="label label-default" href="">
                      {{topic.name}}
                    </a>
                  </li>
                </ul>
              </div>
              <a ui-sref="question({questionID: {{question.id}} })"><h3><b>{{question.question}}</b></h3></a>
            </div>


            <div ng-if = "question.answer.type !== null">
              <a2a-post post=question.answer></a2a-post>
            </div>

            <div ng-if = "question.answer.type === null">
              <div class = "row">
                <div class="col-md-2">
                  Asked by:
                </div>
                <div class="col-md-8">
                  <div class="row">{{question.post.created_by.user.first_name + " " + question.post.created_by.user.last_name}} </div>
                </div>
                <did class = "col-md-2">
                </did>
              </div>
              <div class="post-content">
                {{question.post.content}}
              </div>
              <button class="btn btn-primary" ui-sref="question({questionID: {{question.id}} })">Answer Now</button>
              <hr>
            </div>
            
          </div>
        <!-- <div class="col-md-2 nf-right-menu">
        </div> -->
          <div ng-hide="vm.noMore"><button ng-click="vm.loadMoreQuestions()">Loading more</button></div>
      </div>
    </div>
  </div>
</body>
