<!DOCTYPE html>
<html>
<head>
  <title>Ask to Answer</title>
  <base href="/"/>
  <link rel="stylesheet" type="text/css" href="client/static/bower_components/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="client/static/css/NewsFeed.css">
  <link rel="stylesheet" type="text/css" href="client/static/css/NavBar.css">
</head>

<body>
  <div class="nf-body-container">
    <!-- NavBar -->
    <div ui-view="nav-bar"></div>
    <!--NewsFeed -->
    <div class="nf-content-container">
      <div class="row">
        <div class="col-md-2 nf-left-menu">
          <div class="list-group">
            <a href="#" class="list-group-item disabled">
              Cras justo odio
            </a>
            <a href="#" class="list-group-item">News Feed</a>
            <a href="#" class="list-group-item">Trending</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
          </div>
        </div>
        <div class="col-md-8 nf-main">
          <div class="post-container" ng-repeat="question in vm.questions">
            <div class="post-title">
              <div class="post-topics">
                <ul class="nav nav-pills" ng-repeat = "topic in question.topics">
                  <li class="presentation">
                    <a class="label label-default" href="">
                      {{topic.name}}
                    </a>
                  </li>
                </ul>
              </div>
              <a ui-sref="question({questionID: {{question.id}} })"><h3><b>{{question.question}}</b></h3></a>
            </div>
            <div class="post-author row">
              <div class="col-md-2 post-avatar">AVATAR HERE</div>
              <div class="col-md-8">
                <div class="row">{{question.answer.created_by.user.first_name + " " + question.answer.created_by.user.last_name}} </div>
              </div>
            </div>
            <div class="post-content">
              {{question.answer.content}}
            </div>
            <div class="post-footer row">
              <div class="col-md-8 post-buttons-container">
                <div class="wrapper">
                  <button ng-show="question.answer.my_vote === 0" class="btn btn-success" ng-click="vm.upvote(question.answer)">Upvote | <b>{{question.answer.total_vote}}</b></button>
                  <button ng-show="question.answer.my_vote > 0" class="btn btn-faded" ng-click="vm.upvote(question.answer)">Upvoted | <b>{{question.answer.total_vote}}</b></button>
                </div>
                <!-- <a href="#" class = "post-other-buttons">Downvote</a> -->
                <a href="#" class = "post-other-buttons">Follow</a>
                <!-- <a href="#" class = "post-other-buttons">Comments</a> -->
              </div>
              <div class="col-md-4 post-datetime">
                Created: {{question.post.created_date | date:'MMM dd, yyyy'}}
              </div>
            </div>
            <hr>
          </div>
        <div class="col-md-2 nf-right-menu">
        </div>
      </div>
    </div>
  </div>
</body>
