<!DOCTYPE html>
<html>
<head>
  <title></title>
  <base href="/"/>
</head>
<body>
  <div ui-view='nav-bar'></div>
  <div class="col-md-2"></div>
  <div class="col-md-8 profile-main">
    <div class="col-md-8">
      <div class="col-md-3 " >
        <img class = "profile-avatar" src="{{vm.avatar.avatar}}"/>
      </div>
      <div class="col-md-5">
        {{vm.user.first_name + " " + vm.user.last_name}}
      </div>
      <b>Questions {{vm.user.num_questions}}</b>
    </div>
    <div class="col-md-4">
      <h>About {{vm.user.last_name}}</h>
    </div>
  </div>
  <div class="col-md-2"></div>
</body>
</html>