<!DOCTYPE html>
<html>
<head>
  <title>Question</title>
  <base href="/"/>
</head>


<body>
  <div ui-view="nav-bar"></div>
  <!--Question -->
  <div class="question-content-container">
    <div class="row">
      <div class="col-md-8 question-main">
        <div class="row post-container">
          <div class="post-title">
            <div class="post-topics">
              <ul class="nav nav-pills">
                <li class="presentation" ng-repeat = "topic in vm.topics">
                  <a class="label label-default" href="">
                    {{topic.name}}
                  </a>
                </li>
                <li class="presentation">
                  <a class="label label-default" ng-click="vm.toggleEditBox()">+</a>
                </li>
              </ul>
              <div class = "well post-answer-box" ng-if="vm.showEditBox">
                <form>
                  Add topic:<br>
                  <input type="text" ng-model="vm.topicName" uib-typeahead="topic as topic.name for topic in vm.relatedTopics" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" ng-keyup="vm.getRelatedTopic()">
                  <!-- <input type="text" name="topicName" ng-model="vm.topicName" ng-keyup="vm.getRelatedTopic()"> -->
                  <button type="submit" class="btn btn-primary" ng-click = "vm.submitTopic()">Submit</button>
                </form>
              </div>
            </div>
            <h3><b>{{vm.question.question}}</b></h3>
          </div>
          <a2a-post post="vm.question.post" parent-controller="vm" show-comment="true"></a2a-post>
        </div>

        <div class="row answer-container">
          <div class="row">
            <h4><b>{{vm.answers.length}} Answers</b></h4>
          </div>
          <div class="row" ng-repeat = "answer in vm.answers">
            <a2a-post post="answer" parent-controller="vm" show-comment="true"></a2a-post>
          </div>
        </div>
      </div>

      <div class="col-md-4 question-right-menu">
        <div class="question-right-menu-content-container">
          <div class="row">
            <h4>Related questions:</h4>
            <hr>
          </div>
          <div ng-repeat = "relatedQuestion in vm.relatedQuestions">
            <div class="row question-related-question">
              <a ui-sref="question({questionID: {{relatedQuestion.id}} })">{{relatedQuestion.question}}</a>
            </div>
          </div>

          <div class="row question-stats">
            <h4>Question stats:</h4>
            <hr>
            <p>Answers: {{vm.answers.length}}</p>
            <p>Total upvotes: {{vm.totalUpvote}}</p>
            <p>Total Comments: {{vm.totalComment}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
