<!DOCTYPE html>
<html>
<head>
  <title>Ask to Answer</title>
  <base href="/"/>
</head>

<body>
  <div class="nf-body-container">
    <!-- NavBar -->
    <div ui-view="nav-bar"></div>
    <!--NewsFeed -->
    <div class="nf-content-container">
      <div class="row">
        <div class="col-md-2 nf-left-menu">
          <div class="list-group">
            <a href="#" class="list-group-item disabled">              
              News Feed
            </a>
            <a href="#" class="list-group-item">News Feed</a>
            <!-- <a href="#" class="list-group-item">Trending</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a> -->
          </div>
        </div>        
        <div class="col-md-8 nf-main">
          <a2a-list-question url-next-question="vm.urlNextQuestion"></a2a-list-question>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</body>
