#nav-bar.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#nav-bar.navbar-default {
    font-size: 15px;
    background-color: rgba(248, 248, 248, 1);
    border-bottom-width: 1px;
}
#nav-bar.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 1);
}
#nav-bar.navbar-default .navbar-nav>li>a:hover,
#nav-bar.navbar-default .navbar-nav>li>a:focus {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(224, 224, 224, 1);
}
#nav-bar.navbar-default .navbar-nav>.active>a,
#nav-bar.navbar-default .navbar-nav>.active>a:hover,
#nav-bar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(171, 51, 52, 1);
    background-color: rgba(248, 248, 248, 1);
}
#nav-bar.navbar-default .navbar-toggle {
    border-color: #f8f8f8;
}
#nav-bar.navbar-default .navbar-toggle:hover,
#nav-bar.navbar-default .navbar-toggle:focus {
    background-color: #f8f8f8;
}
#nav-bar.navbar-default .navbar-toggle .icon-bar {
    background-color: #f8f8f8;
}
#nav-bar.navbar-default .navbar-toggle:hover .icon-bar,
#nav-bar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}

.nb-content-container {
    margin: 0 20% 0 20%;
}

.navbar-search-bar {
    margin: 0 auto;
}