.label-default {
  background-color: #f2f2f2;
  color: #3a3a3a;
  font-size: 11px;
  font-style: regular;
}
.question-content-container {
    margin: 0 20% 0 20%;
}
.answer-container {
    margin-left: 0.5em;
}
.question-right-menu-content-container {
    margin-left: 5em;
}
.question-related-question {
    margin-top: 0.5em;
}
.question-stats {
    margin-top: 2em;
}
.question-topic {
    height: 5em;
    color: red;
}
.post-comments-container {
  margin-left : 1em;
  margin-top : 1em;
}
.btn-faded {
  background-color: #f6f6f6;
}
.post-avatar {
  max-width: 50px;
  max-height: 50px;
}
